@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1> Berea Technical College</h1>
</div>

<div class=" row">
    <div class=" col-md-4">
        <h2> Welcome to Berea Technical College</h2>
        <p>
            This is the website for Berea Technical College
        </p>
    </div>

    <div class=" col-md-4">
        <h2> You may learn C++ here!</h2>
        <p>
            C++ is a great language!
        </p>
    </div>


    <div class=" col-md-4">
        <h2> c++ is not available</h2>
        <p>
            thank you for applying
        </p>
    </div>
</div>
